/.env
/.env.local
/.composer-home/
/.idea/
/.phpstan-cache/
/.phpunit.cache/
/node_modules/
__pycache__/
/vendor/
/var/*
!/var/.gitignore
!/var/log/
!/var/log/.gitignore
!/var/temp/
!/var/temp/.gitignore
!/var/backups/
!/var/backups/.gitignore
